*  {
    box-sizing: border-box;
}

.rectangle {
    height: 60px;
    width: 250px;
    background: red;
    margin: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.click {
    position: absolute;
    top: 20px;
    left: 10px;
}

.move {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.hover {
    position: absolute;
    top: 20px;
    right: 10px;
}

.dblclick {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.start {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/download.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0
}

@keyframes Jumpscare {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.AHH {
    animation: Jumpscare 2s linear;
    
}
